a
{
	color: #F0F2F6;

}
body 
{
	background: #EEEEEE;
	font-family: Arial;
	font-size: 16px;
}
footer
{
	color:rgba(255,255,255,0.3);
	background: #001436;
	text-align: center;
	padding: 1em;
}
header
{
	background: white;
	overflow: hidden;
	position: relative;

	
}
header figure
{
	float: left;
	margin-top: 0;
}
header h1
{
	font-size: 1.5em;
	margin: 0.2em 95px 0 0;
	
}
header .bandera 
{
	margin: 1em 0.5em 0 0;
	position: absolute;
	right: 0;
	top: 0;

}
header .bandera img
{
	width: 56px;
	border-radius: 50%;
}
header .logo img 
{
	
	border-right: 1px solid orange;
	margin-right: 0.5em;
	padding-right: 0.5em;
	width: 7em;
}
nav
{
	background: #111C1D;
	padding: 0 0.5em;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li
{
	display: inline-block;
	margin: 0 1.2em 0 0;
}
nav ul li a 
{
	display: block;
	padding: 0.5em 0;
	text-decoration: none;
}
.contenido
{
	background: white;
	border-bottom: solid black;
	margin: 1em;
	overflow: hidden;
}

.contenido .tuberia
{
	float: left;
	margin: 0 0.5em 0 0;
}