a
{
	color: #402B26;
	text-decoration: none;

}
body 
{
	background: #EEEEEE;
	font-family: Arial;
	font-size: 16px;


}
footer
{
	background: #001436;
	padding: 1em;
}
footer p
{
	color: white;
	text-align: center;
}
header
{
	background: white;
	position: relative;
	
}
header figure
{
	float: left;
}
header h1
{
	font-size: 2em;
	text-align: center;
}

header .logo
{
	margin: 0;
	padding: 0;
}
header .bandera img
{
	width: 54px;
	border-radius: 50%;
}
header .logo img 
{
	width: 53px;
}
