@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@font-face {
	font-family: 'puls4';
	src:url('fonts/puls4.eot');
	src:url('fonts/puls4.eot?#iefix') format('embedded-opentype'),
		url('fonts/puls4.woff') format('woff'),
		url('fonts/puls4.ttf') format('truetype'),
		url('fonts/puls4.svg#puls4') format('svg');
	font-weight: normal;
	font-style: normal;
}
a
{
	color: #F0F2F6;

}
body 
{
	background: #EEEEEE;
	font-family: 'Open Sans';
	font-size: 16px;
}
footer
{
	color:rgba(255,255,255,0.3);
	background: #001436;
	text-align: center;
	padding: 1em;
}
header
{
	background: white;
	overflow: hidden;
	position: relative;

	
}
header figure
{
	float: left;
	margin-top: 0;
}
header h1
{
	font-size: 1.5em;
	margin: 0.2em 95px 0 0;
	
}
header .bandera 
{
	margin: 1em 0.5em 0 0;
	position: absolute;
	right: 0;
	top: 0;

}
header .bandera img
{
	border-radius: 50%;
	width: 56px;
	transition:.5s;
}
header .bandera img:hover
{
	-webkit-transform: rotate(360deg);
}
header .logo img 
{
	
	border-right: 1px solid orange;
	margin-right: 0.5em;
	padding-right: 0.5em;
	width: 7em;
}
nav
{
	background: #111C1D;
	padding: 0 0.5em;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li
{
	display: inline-block;
	margin: 0 1.2em 0 0;
}
nav ul li a 
{
	display: block;
	padding: 0.5em 0;
	text-decoration: none;
	-webkit-transition:0.2s;
}
nav ul li a:hover
{
	background: #BB2200;
	text-shadow: rgba(0,0,0,0.5) 2px 5px 5px;
	font-size: 1.05em;
}
.contenido
{
	background: white;
	border-bottom: solid black;
	margin: 1em;
	overflow: hidden;
}

.contenido .tuberia
{
	float: left;
	margin: 0 0.5em 0 0;
}
.contenido .tuberia img
{
	border-radius: 1em;
	max-width: 360px;
}
@media screen and(min-width: 800px){
	header
	{
		text-align: center;
	}

}